@media screen and (min-width: 320px) {
	.header--section {
		background: hsl(193, 100%, 96%) url(./images/bg-hero-mobile.svg) top
			no-repeat;
		padding-bottom: 100px;
	}
	.header--section--nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 20px;
		margin-bottom: 90px;
	}

	.nav--logo img {
		width: 110px;
		height: auto;
	}

	.nav--link {
		padding: 6px 16px;
		background-color: hsl(0, 0%, 100%);
		color: hsl(192, 100%, 9%);
		font-family: "Open Sans", sans-serif;
		font-size: 11px;
		font-weight: 600;
		text-decoration: none;
		border-radius: 20px;
		box-shadow: 1px 1px 10px -5px hsl(0, 0%, 0%);
	}

	.header--hero--section {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero--text {
		width: 85%;
		margin: 0 auto;
		color: hsl(192, 100%, 9%);
	}

	.hero--text h1 {
		font-size: 24px;
		margin: 0 15px;
		margin-bottom: 20px;
	}

	.hero--text p {
		margin: 0 10px 40px;
		font-size: 14px;
		font-weight: 400;
		line-height: 23px;
		font-family: "Open Sans", sans-serif;
	}

	.hero--link:link,
	.hero--link:visited {
		font-size: 11px;
		font-weight: 400;
		padding: 12px 45px;
		background-color: hsl(322, 100%, 66%);
		color: hsl(0, 0%, 100%);
		text-decoration: none;
		border-radius: 50px;
		box-shadow: 1px 1px 10px -5px hsl(0, 0%, 0%);
	}

	.hero--img {
		width: 90%;
		margin-top: 45px;
	}

	.hero--img img {
		width: 100%;
	}
}
