@media screen and (min-width: 320px) {
	.header--section {
		background: hsl(193, 100%, 96%) url(./images/bg-hero-mobile.svg) top
			no-repeat;
		padding-bottom: 50px;
	}
	.header--section--nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 20px;
		margin-bottom: 50px;
	}

	.nav--logo img {
		width: 110px;
		height: auto;
	}

	.nav--link {
		padding: 6px 16px;
		background-color: hsl(0, 0%, 100%);
		color: hsl(192, 100%, 9%);
		font-family: "Open Sans", sans-serif;
		font-size: 11px;
		font-weight: 600;
		text-decoration: none;
		border-radius: 20px;
		box-shadow: 1px 1px 10px -5px hsl(0, 0%, 0%);
	}

	.header--hero--section {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero--text {
		width: 85%;
		margin: 0 auto;
		color: hsl(192, 100%, 9%);
	}

	.hero--text h1 {
		font-size: 24px;
		margin: 0 15px;
		margin-bottom: 20px;
	}

	.hero--text p {
		margin: 0 10px 40px;
		font-size: 14px;
		font-weight: 400;
		line-height: 23px;
		font-family: "Open Sans", sans-serif;
	}

	.hero--link:link,
	.hero--link:visited {
		font-size: 11px;
		font-weight: 400;
		padding: 12px 45px;
		background-color: hsl(322, 100%, 66%);
		color: hsl(0, 0%, 100%);
		text-decoration: none;
		border-radius: 50px;
		box-shadow: 1px 1px 10px -5px hsl(0, 0%, 0%);
	}

	.hero--img {
		width: 80%;
		margin-top: 45px;
	}

	.hero--img img {
		width: 100%;
	}

	main {
		position: relative;
		padding-bottom: 170px;
	}

	.section--cards {
		text-align: center;
		padding: 90px 0 20px;
	}

	.card--container {
		width: 100%;
		margin-top: -20px;
		background-color: hsl(0, 0%, 100%);
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.cards {
		width: 90%;
		padding: 30px 20px 0px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 12px;
		box-shadow: 1px 1px 10px -5px hsl(208, 11%, 55%);
	}

	.card--img {
		margin-bottom: 40px;
	}

	.card--img img {
		margin: 0 auto;
		display: block;
		max-width: 350px;
		width: 80%;
	}

	.card--text h2 {
		font-size: 22px;
		color: hsl(192, 100%, 9%);
		margin-bottom: 15px;
	}

	.card--text p {
		font-size: 14px;
		color: hsl(208, 11%, 55%);
		padding: 0 10px 30px;
		font-weight: 400;
		line-height: 20px;
	}

	.community--section {
		position: absolute;
		background-color: hsl(193, 100%, 96%);
		border-radius: 12px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 5px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: -60px;
		width: 90%;
		text-align: center;
		/* max-width: 80vw; */
	}

	.community--section h2 {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.community--section a {
		font-size: 11px;
		font-weight: 400;
		padding: 10px 45px;
		background-color: hsla(322, 100%, 66%);
		color: hsl(0, 0%, 100%);
		text-decoration: none;
		border-radius: 50px;
		box-shadow: 1px 1px 10px -5px hsl(0, 0%, 0%);
	}

	.footer--section {
		background-color: hsl(192, 100%, 9%);
		padding: 140px 20px 42px 20px;
	}

	.logof {
		width: 50%;
	}

	.footer--grid {
		display: grid;
		grid-template-columns: 1fr;
		/* gap: 2rem; */
		margin-top: 30px;
		font-size: 14px;
		color: hsl(0, 0%, 100%);
	}

	.footer--location {
		grid-template-columns: 5% 95%;
	}

	.footer--location span,
	.footer--contact span {
		padding-left: 20px;
	}

	.footer--contact div {
		margin-top: 2rem;
		margin-bottom: 26px;
	}

	.footer--links--1 {
		margin-top: 2.5rem;
	}

	.footer--links--1,
	.footer--links--2 {
		/* margin-bottom: 2rem; */
		display: grid;
		grid-template-columns: 1fr;
	}

	.footer--links--1 a,
	.footer--links--2 a {
		margin-bottom: 20px;
	}

	.footer--links--1 a,
	.footer--links--2 a {
		text-decoration: none;
		color: hsl(0, 0%, 100%);
	}

	.footer--icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}

	.footer--icon i {
		font-size: 12px;
		border: 1px solid hsl(0, 0%, 100%);
		border-radius: 100px;
		padding: 5px;
		margin: 10px;
	}

	.footer--icon i:last-child {
		margin-right: 0;
	}
}
